<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <!--/*<sly data-sly-resource="${'./posts_list' @ resourceType='workshop-blog/components/par/posts_list'}"/>
            <sly data-sly-resource="${'./image' @ resourceType='workshop-blog/components/par/image'}"/>
            <sly data-sly-resource="${'./contact_form' @ resourceType='workshop-blog/components/par/contact_form'}"/>
            <sly data-sly-resource="${'./text' @ resourceType='workshop-blog/components/par/text'}"/>*/-->

            <div data-sly-resource="${'./par' @ resourceType='wcm/foundation/components/parsys'}"></div>
            <!--/*<div data-sly-resource="${'./text' @ resourceType='workshop-blog/components/par/text'}"></div>
            <div data-sly-resource="${'./text' @ resourceType='workshop-blog/components/par/text'}"></div>
            <div data-sly-resource="${'./text1' @ resourceType='workshop-blog/components/par/text'}"></div>*/-->

            <!--image -->
            <!--/*<div data-sly-resource="${'./image' @ resourceType='workshop-blog/components/par/image'}"></div>*/-->

            <!--contact form -->
            <!--/*<hr>
            <div data-sly-resource="${'./contact_form' @ resourceType='workshop-blog/components/par/contact_form'}"></div>

            <hr><hr>*/-->
            <!--contact form -->
            <!--/*<div data-sly-resource="${'./posts_list' @ resourceType='workshop-blog/components/par/posts_list'}"></div>*/-->
        </div>
    </div>
</div>