<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <sly data-sly-resource="${'./image' @ resourceType='workshop-blog/components/par/image'}"/>
            <sly data-sly-resource="${'./postslist' @ resourceType='workshop-blog/components/par/postslist'}"/>
            <sly data-sly-resource="${'./text' @ resourceType='workshop-blog/components/par/text'}"/>
            <sly data-sly-resource="${'./contactform' @ resourceType='workshop-blog/components/par/contactform'}"/>
        </div>
    </div>
</div>
